.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}

.kebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #05204a;
  margin: 3px 0;
}
.middle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
  
}

/* CIRCULO APARECE */
.middle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: 'Nunito', sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none;
  
}

/* X APARECE */
.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}

h1, a, li {
  font-family: Roboto, sans-serif;
}
a, li {
  color: #6b6b6b;
  text-decoration: none;
}
.nav {
  margin-left: 20%;
}

.tresPontos{
  transform: rotate(90deg);
}
.nav > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
}

.nav > li:hover {
  background: #ebebeb;
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 14rem;
  padding: 50%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f4f4f4;
  right: 0;
  top: 3em;
  transition: all 0.25s ease-out;
  transform: scale(0);transform-origin: top left 2cm;
  z-index: 9999;
}

.dropdown ul{
  padding: 20px;
  display: flex;
}

.dropdown img{
  margin-right: 10%;
}
.abrir{
margin-left: 15%;
}

.kebab{
  border-radius: 100px;
}

.dropdown li {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.dropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.dropdown li:hover {
  background: #e3e3e3;
  border-radius: 20px;
}
.dropdown:hover ul {
  transform: scale(1);
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}


.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.follow i {
  margin-right: 20px;
  transition: margin-right 0.2s ease;
}
.follow:hover {
  width: 134px;
}
.follow:hover i {
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}






.kebab2 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}

.kebab2 figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #05204a;
  margin: 3px 0;
}
.middle2 {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}
.middle2.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: 'Nunito', sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none;
}
.cross2.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}
h1, a, li {
  font-family: Roboto, sans-serif;
}
a, li {
  color: #6b6b6b;
  text-decoration: none;
}

.pontos2{
  transform: rotate(90deg);
}
.nav2 > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
}

.nav2 > li:hover {
  background: #ebebeb;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
  left: 20%;
}
.dropdown2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: 15rem;
  padding: 50%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eeeeee;
  right: 0;
  top: 3em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: top left 2cm;
  font-weight: 100;
  z-index: 99999;
}

.dropdown2 ul{
  padding: 20px;
  left: 100%;
}

.dropdown2 img{
  margin-right: 5%;
}
.abrir2{
margin-left: 20%;
}

.kebab2{
  border-radius: 100px;
}

.dropdown2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.dropdown2 li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.dropdown2 li:hover {
  background: #e3e3e3;
  border-radius: 20px;
}
.dropdown2:hover ul {
  transform: scale(1);
}
.dropdown2.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .follow2 {
    margin: 400px auto 0;
  }
}


.dropdown2.active {
transform: scale(1);
transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}









.childKebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
  z-index: 99999;
}

.childKebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #05204a;
  margin: 3px 0;
}

.childMiddle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}
.childMiddle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.childCross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: 'Nunito', sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none; z-index: 99999;
}
.childCross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}
h1, a, li {
  font-family: Roboto, sans-serif;
}
a, li {
  color: #6b6b6b;
  text-decoration: none;
}

.childPontos{
  transform: rotate(90deg);
}


.childNav > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
  z-index: 99999;
}

.childNav > li:hover {
  background: #ebebeb;
}

.testeteste{
  z-index: 0;
}
.childDropdown {
  position: absolute;
  flex-direction: column;
  width: 10rem;
  height: 25rem;
  padding: 50%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eeeeee;
  left: 150%;
  top: -3.8rem;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: top left 2cm;
  font-weight: 100;
  z-index: 99999;
}

.childNav{
  display: none;
}

.childDropdown ul{
  padding: 20px;
}

.childDropdown img{
  margin-right: 5%;
}
.childAbrir{
margin-left: 20%;
}

.childKebab{
  border-radius: 100px;
}

.childDropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.childDropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.childDropdown li:hover {
  background: #e3e3e3;
  border-radius: 15px;
}
.childDropdown:hover ul {
  transform: scale(1);
}
.childDropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .follow2 {
    margin: 400px auto 0;
  }
}


.childDropdown.active {
transform: scale(1);
transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}



.lastKebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
  z-index: 99999;
  left: 200%;
}

.lastKebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #05204a;
  margin: 3px 0;
}

.lastMiddle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}
.lastMiddle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.lastCross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: 'Nunito', sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none; z-index: 99999;
}
.lastCross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}
h1, a, li {
  font-family: Roboto, sans-serif;
}
a, li {
  color: #6b6b6b;
  text-decoration: none;
}

.lastPontos{
  transform: rotate(90deg);
}


.lastNav > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
  z-index: 99999;
}

.lastNav > li:hover {
  background: #ebebeb;
}

.testeteste{
  z-index: 0;
}

.lastNav .lastKebab .lastDropdown li img{
  margin-right: 25%;
}

.lastDropdown {
  position: absolute;
  flex-direction: column;
  width: 10rem;
  height: 30rm;
  padding: 50%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eeeeee;
  right: -999;
  top: -3.8rem;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: top left 2cm;
  font-weight: 100;
  z-index: 99999;
}

.lastNav{
  display: none;
}

.lastDropdown ul{
  padding: 20px;
}

.lastDropdown img{
  margin-right: 5%;
}
.lastAbrir{
margin-left: 20%;
}

.lastKebab{
  border-radius: 100px;
}

.lastDropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.lastDropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.lastDropdown li:hover {
  background: #e3e3e3;
  border-radius: 15px;
}
.lastDropdown:hover ul {
  transform: scale(1);
}
.lastDropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .follow2 {
    margin: 400px auto 0;
  }
}


.lastDropdown.active {
transform: scale(1);
transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}













* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    
}

.container-geral{
    padding: 0 2% 0 5%;
}

.container-geral2{
    padding: 0 2% 0 5%;
}

.container-topicos{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.container-topicos2{
  display: none;
  justify-content: space-between;
  height: 80vh;
}

.tipo_usuario ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2%;
}

.tipo_usuario ul li {
    list-style: none;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 1px solid #c2c2c2;
    color: #c2c2c2;
    font-weight: bold;
    transform: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.col-md-12 .modal-add-tarefa {
  display: none;
}

.modal {
  margin-top: auto;
  width: 100%;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 2%;
  border-radius: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
}

#modal-tarefa-geral{
  height: 80vh;
}

.modal .lab-inp {
  margin-top: 1%;
  margin-bottom: 1%;
}

.modal .buttons {
  display: flex;
  flex-direction: row-reverse;
}

.primeiro_botao {
  margin-top: 2vh;
  width: 98%;
  color: white;
  background-color: #044177;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  padding: 15px;
}

.segundo_botao {
  margin-top: 2vh;
  width: 98%;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  padding: 15px;
  background-color: #c2c2c2;
  margin-right: 5%;
}


.modal h1 {
  font-size: 50px;
  font-weight: 700;
  color: #05204a;
}

.lab-inp select {
  background-color: #e3e3e3;
  border-radius: 10px;
  border-bottom: 1px solid #05204a;
  padding: 15px;
}

.aluno-select{
  width: 85%;
  margin-top: 5%;
}

.lab-inp input {
  background-color: #e3e3e3;
  border-radius: 10px;
  border-bottom: 1px solid #05204a;
  padding: 15px;
}

.select-multiplo select{
  margin-top: 5%;
  border-bottom: 1px solid #05204a;
  border-top: none;
  border-right: none;
  border-left: none;
}

.lab-inp label {
  font-weight: 400;
}

.linha{
  margin: 2% 0;
}

.modal h1{
  text-align: center;
}

.modal h2{
  text-align: center;
  margin-bottom: 2%;
}

.bg {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.658);
}

.inputfile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.inputfile+label {
  font-size: 15px;
  width: 30%;
  background-color: rgba(240, 248, 255, 0);
  color: rgb(255, 255, 255);
  background-color: #044177;
  border-radius: 10px;
  font-weight: 300;
  border: none;
  padding: 10px;
  margin-bottom: 1%;
  text-align: center;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #e3e3e3;
  color: black;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #e3e3e3;
  color: black;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}


.tipo_usuario ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tipo_usuario ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tipo_usuario ul li:hover,
.tipo_usuario ul li.ativo {
    background-color: #044177;
    color: #fff;
}

.botao-adicionar{
    display: flex;
    border: solid 1px #044177;
    background-color: #04417700;
    margin-top: 2vh;
    border-radius: 30px;
    font-weight: 300;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.botao-adicionar img{
    width: 18px;
    margin-right: 0.5rem;
}

.botao-add-topico{
    border: solid 1px #044177;
    background-color: #04417700;
    border-radius: 30px;
    font-weight: 700;
    padding: 15px;
}

.listagem-topicos::-webkit-scrollbar {
  height: 10px;
  
  /* width of the entire scrollbar */
}

.listagem-topicos::-webkit-scrollbar-thumb {
  background-color: #05204a;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}


.topico{
  margin-top: 5rem;
  margin-right: 5rem;
  align-items: center;
  max-height: 100vh;
  position: relative;
}

.subtopico{
  /* overflow-y: auto; */
  height: 90%;
}

.add-topico{
    margin-top: 5rem;
}

.listagem-topicos{
    display: flex;
    flex-direction: row;
    padding: 0 0 5% 0;
    overflow-y: auto; max-width: 100%;
}

.card-tarefa{
    border: solid 1px #044177;
    background-color: #04417700;
    margin-top: 2vh;
    border-radius: 30px;
    font-weight: 300;
    padding: 15px;
    z-index: 0;
}

.nome-tarefa{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.modal-add-tarefa{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:#F4F4F4;
    border-radius: 20px;
    align-items: center;
    margin-top: 1rem;

}

.modal-add-tarefa input {
    background-color: #e3e3e3;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #05204a;
    padding: 10px;
    margin-top: 1rem;
}

.modal-add-topico{
  display: none;
  width: 100%;
  flex-direction: column;
  background-color:#F4F4F4;
  border-radius: 20px;
  align-items: center;
  margin-top: 1rem;
}

.modal-add-topico input {
  background-color: #e3e3e3;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #05204a;
  padding: 10px;
  margin-top: 1rem;
}


.nome-tarefa p{
    margin-top: 1rem;
    margin-left: 1rem;
}

.data-tarefa{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.data-tarefa p{
    margin-top: 1rem;
    margin-left: 1rem;
}

.data-tarefa img{
    width: 30px;
}

.tarefa{
    display: flex;
    justify-content: space-between;
}

.titulo{
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.titulo h1{
    color: #05204A;
    font-weight: 400;
    font-size: 28px;
}

.progress{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: solid #044177;     
    transform: rotate(270deg);
}

.progress-bar{
    background-color: #044177;

}

.buttons{
    display: flex;
    width: 100%;
}

.modal-add-tarefa .primeiro-botao{
    border-radius: 0 0 20px 0px;
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    font-weight: 700;
    border: none;
    padding: 15px;
    margin-top: 2vh;
}

.modal-add-tarefa .segundo-botao{
    border-radius: 0 0 0 20px;
    margin-top: 2vh;
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #e3e3e3;
    font-weight: 700;
    border: none;
    padding: 15px;
}

.modal-add-topico .primeiro-botao{
  border-radius: 0 0 20px 0px;
  width: 50%;
  background-color: rgba(240, 248, 255, 0);
  color: white;
  background-color: #044177;
  font-weight: 700;
  border: none;
  padding: 15px;
  margin-top: 2vh;
}

.modal-add-topico .segundo-botao{
  border-radius: 0 0 0 20px;
  margin-top: 2vh;
  width: 50%;
  background-color: rgba(240, 248, 255, 0);
  color: white;
  background-color: #e3e3e3;
  font-weight: 700;
  border: none;
  padding: 15px;
}

.modal-editar-tarefa{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    width: 15vw;
    height: 20%;
    padding: 5%;
    border-radius: 10px;
;
    top: 55%;
    left: 20%;
}

.alterar-cor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alterar-cor p{
    margin-top: 15%;
}

.container-alterar-cor{
    display: flex;
}

.container-alterar-cor img{
    margin-right: 15%;
}

.duplicar{
    display: flex;
    flex-direction: row;
}

.duplicar p{
    margin-top: 5%;
}

.duplicar img{
    margin-right: 5%;
}

.mover-para{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mover-para p{
    margin-top: 15%;
}

.container-mover-para{
    display: flex;
}

.container-mover-para img{
    margin-right: 15%;
}

.excluir{
    display: flex;
    flex-direction: row;
}

.excluir p{
    margin-top: 5%;
}

.excluir img{
    margin-right: 5%;
}

.card_arquivo{
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  height: fit-content;
  background-color: #E3E3E3;
padding: 1%;
 border-radius: 10px;
}

.card_word{
  background-color: #044177;
  margin: 0.5%;
  border-radius: 10px;
 padding: 1% 1% 1% 0;
 align-items: center;
}

.container_word{
 
   display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.card_word img{
  margin-right: 5%;
}

.word-logo{
  width: 60px;
}

.text_card h1{
  font-size: 20px;
  color: white;
  margin-top: 10%;
}

.text_card p{
  font-size: 15px;
  color: white;
}

.exit{
  position: relative;
  margin-top: -28%;
  left: 9%;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#imgPerfil {
  object-fit: cover;
  object-position: center center;
}

.img-container{
  display: flex;
  width: 85%;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 5%;
}

.img-container img{
  margin: 2%;
}

.img-container::-webkit-scrollbar {
  height: 5px;
  /* width of the entire scrollbar */
}

.img-container::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}

.img-do-container{
  display: flex;
}

.delete-user{
  position: relative;
  top: -30%;
  width: 20px;
  left: -20px;
}

.delete-user{
  position: relative;
  top: -30%;
  width: 20px;
  left: -20px;
}

.modal-tarefa-geral .img-container{
  margin-top: 2%;
}

.button-add-user{
  border: none;
  background-color: #03a8f400;
}

.containerImg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerImg .img-container{
  width: 90%;
}


.containerImg .img-container::-webkit-scrollbar {
  height: 5px;
  
  /* width of the entire scrollbar */
}

.containerImg .img-container::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  border: none;
  /* creates padding around scroll thumb */
}
