*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    color: hsl(208, 93%, 24%);
}

header .primeira_parte{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
}

header h1{
    font-size: 24px;
}