* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-left: 78px;
    /* background: #000; */
}

.cursos_existentes input {
    background-color: #e3e3e3;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
}

.icon {
    position: relative;
}

.icon i {
    position: absolute;
    right: 11%;
    top: 10%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
}

.caminho-arquivo {
    display: flex;
    align-self: baseline;
    gap: 40px;
    margin-top: 75px;
    margin-left: 75px;
}

main a {
    text-decoration: none;
}

main h4 {
    color: #A1A1A1;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.container-arquivos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-self: baseline;
    margin-left: 30px;
}

.pasta-arquivo {
    padding: 10px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .pasta-arquivo:nth-child(1) {
    background: tomato;
} */

.pasta-arquivo .conteudo-pasta-arquivo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    padding: 0 10px;
}

.pasta-arquivo .conteudo-pasta-arquivo p {
    margin-top: 12%;
}

.pasta-arquivo .conteudo-pasta-arquivo:hover {
    background-color: #F4F4F4;
}

.pasta-arquivo .imgAcoes {
    cursor: pointer;
}

.pasta-arquivo i {
    display: none;
    cursor: pointer;
}