header,
main {
    background-color: #000032;
}

body {
    overflow-x: hidden;
    height: 100vh;
    
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding: 0px 0 15vh;
    gap: 40px;
    height: 100vh;
    
}

main h4 {
    color: #0987f7;
    font-size: 21px;
    margin-top: 5vh;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

main h1 {
    font-size: 54px;
    max-width: 704px;
    text-align: center;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.tipo_plano ul {
    display: flex;
    justify-content: center;
}

.tipo_plano ul li {
    width: 200px;
    height: 50px;
    text-align: center;
    /* background-color: #e9ecf1; */
    padding: 13px 15px;
    border: 1px solid #657895;
    color: #657895;
    font-weight: bold;
    transform: all 0.2s ease;
    cursor: pointer;
}

.tipo_plano ul li:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tipo_plano ul li:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tipo_plano ul li:hover,
.tipo_plano ul li.ativo {
    background-color: #49a6f9;
    color: #fff;
}

.preco_plano p {
    color: #1c2348;
}

.form_plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
}

.preco_plano {
    display: flex;
    padding: 35px 0px 30px 0px;
    align-items: center;
    width: 500px;
    justify-content: center;
    border-bottom: 2px solid #ecedf1;
}

.valor_plano {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.recorrencia_pagamento {
    display: flex;
    gap: 8px;
    align-items: center;
}

.recorrencia_pagamento .valor {
    font-size: 32px;
    font-weight: bolder;
}

.recorrencia_pagamento .recorrencia {
    color: #a4a5aa;
}

.preco_plano .titulo {
    font-size: 21px;
    font-weight: 500;
}

.infos_plano {
    color: #1c2348;
    
}

.infos_plano ul li p{
    font-family: "Poppins", sans-serif;
}

.preco_plano p{
    font-family: "Poppins", sans-serif;
}

.infos_plano ul {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infos_plano ul li {
    display: flex;
    justify-content: space-between;
}

.infos_plano .texto {
    margin-left: 0px;
}

.infos_plano .check_img {
    width: 24px;
    height: 24px;
    position: relative;
    right: 0;
}

ul li {
    list-style: none;
}

.anual {
    display: none;
}

.form_plano input[type="button"] {
    width: 500px;
    height: 50px;
    border: 1px solid;
    background: #0987f7;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.form_plano input[type="button"]:hover {
    color: #0987f7;
    background-color: #fff;
    transition: 0.3s;
}

@media (max-width: 768px) {
    main h4 {
        font-size: 15px;
    }

    main h1 {
        font-size: 28px;
    }

    .tipo_plano ul li {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }

    .form_plano {
        width: 320px;
        height: 550px;
    }

    .form_plano input[type="button"] {
        width: 290px;
        font-size: 15px;
    }

    .preco_plano {
        width: 290px;
    }

    .preco_plano .titulo {
        font-size: 20px;
    }

    .recorrencia_pagamento .valor {
        font-size: 30px;
    }

    .infos_plano ul {
        width: 290px;
    }

    .infos_plano ul li .texto {
        font-size: 14px;
        max-width: 250px;
    }
}