*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 2%;
 }

.card_azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 30vh;
    background-color: #044177;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 3%;
}

.card_azul h1{
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}

img{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}

#ul{
    width: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
    height: 50vh;
}

#ul::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
#ul::-webkit-scrollbar-thumb {
    background-color: #05204A;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border:none;  /* creates padding around scroll thumb */
  }

#li{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;  
}

#icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turmas_existentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #044177;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 3%;
}

.turmas_existentes input{
    background-color: #E3E3E3;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
}

#icon {
    position: relative;
  }
  
 #icon i {
    position: absolute;
    right: 7%;
    top: 63%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
  }
  
 #icon.inputIconBg i {
    background-color: #aaa;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }

  #li h2{
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

.turma{
      font-size: 20px;
  }

  .nome{
      font-size: 30px;
      font-weight: 400;
  }

  
@media (max-width: 1200px) {
    .container{
       padding: 2%;
    }
    .container h1{
       display: flex;
       font-size: clamp(0rem, 10vw, 4.3rem);
       text-align: center;
    }

    .card_azul h1{
        font-size: clamp(0rem, 10vw, 2.3rem);
    }
 }
  