* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    max-width: 80vw;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1 {
    margin-left: 2%;
    font-size: 18px;
    font-weight: 300;
}

body p {
    font-size: 20px;
    font-weight: 500;
}

.tema {
    text-align: center;
    margin-bottom: 2%;
}

.descricao {
    margin-bottom: 2%;
}

.ul-integrantes {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    max-width: 80vw;
    overflow-y: auto;
}

.li-integrantes {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-integrantes {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 2%;
}

.ul-integrantes::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

.ul-integrantes::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.ul-orientadores {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    overflow-y: auto;
}

.li-orientadores {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-orientadores {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 1%;
}

.ul-orientadores::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

.ul-orientadores::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.barra_progresso{
    margin-top: 5%;
    margin-bottom: 5%;
}

.barra_progresso label{
    margin-left: 2%;
    font-size: 18px;
    font-weight: 300;
}

.progress_bar{
    background-color: #044177;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 300;
}

.progress{
    height: 80%;
    border-radius: 100px;
}

.documentacao_div{
    display: flex;
    width: 100%;
}

.documentacao{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.documentacao label{
    margin-left: 2%;
    font-size: 18px;
    font-weight: 300;
}

.primeiro_botao {
    font-size: 15px;
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 5%;
}

.primeiro_botao:hover{
    background-color: #E3E3E3;
    color: black;
}

.editar_div{ 
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.segundo_botao {
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}