*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body{
    width: 100vw;
    height: 100vh;
}

header{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    color: hsl(208, 93%, 24%);
    margin-left: 75px;
}

header .primeira_parte{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
}

header h1{
    font-size: 23px;
}

.icone_perfil {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}

.icone_perfil:hover {
    background-color: #E3E3E3;
}

#iconePerfil {
    width: 40px;
    height: 38px;
}

@media (max-width: 992px) {

    header {
        margin-left: 60px;
    }

    header h1 {
        font-size: 20px;
    }

    .icone_perfil {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 540px) {

    header .primeira_parte {
        display: none;
    }

    header {
        padding: 0px;
        margin-top: 30px;
        margin-right: 15px;
        justify-content: end;
    }

}