* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.658);
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .profile_image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.container .profile-pic-div {
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #05204a;
    font-weight: 700;
    margin-bottom: 70px;
}

.container input {
    background-color: #e3e3e3;
    border-radius: 10px;
    border-bottom: 1px solid #05204a;
    padding: 15px;
}

.container label {
    margin-top: 5px;
}

button {
    padding: 10px;
    font-weight: 700;
    border: 5px solid;
}

.button {
    display: flex;
    text-decoration: none;
    justify-content: end;
}

.button a {
    text-decoration: none;
    color: white;
}

#primeiro_botao {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #0664b7;
    border-radius: 30px;
    padding: 15px;
}

#segundo_botao {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #0664b7;
    border-radius: 30px;
    padding: 15px;
}

#terceiro_botao {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #a71e34;
    border-radius: 30px;
    padding: 15px;
}

.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 35%;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.modal h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #05204a;
}

.modal h2 {
    margin: 2% 0 2% 0;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #a71e34;
}

.modal label {
    font-size: 30px;
    font-weight: 400;
    color: #05204a;
}

.modal input {
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#primeiro_botao_modal {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    padding: 15px;
    background-color: #c2c2c2;
    margin-right: 5%;
}

#segundo_botao_modal {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}

.erro {
    background-color: #e3e3e3;
    border-radius: 10px;
    border: 4px solid #a71e34;
    padding: 15px;
}

#p-senha-incorreta {
    display: none;
    justify-content: center;
    margin-top: 16px;
    color: #a71e34;
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 50px;
    }

    .container .profile_image {
        width: 100px;
        height: 100px;
    }
}