*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body{
     height: 100vh;
     width: 100vw;
     padding: 2%;
     font-family: 'Poppins', sans-serif;
 }

 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     width: 100%;
 }

.card_azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 30vh;
    background-color: #0664B7;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 3%;
}

.card_azul h1{
    font-size: 1.5vw;
    font-weight: 600;
    
}

.img{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}

#ul{
    width: 30vw;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 20px;
    padding: 2%;
    color: #044177;
    
}

#li{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#icone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turmas_existentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #044177;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 3%;
}

.turmas_existentes input{
    background-color: #E3E3E3;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
}

#icon {
    position: relative;
  }
  
 #icon i {
    position: absolute;
    right: 7%;
    top: 10%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
  }
  
 #icon.inputIconBg i {
    background-color: #aaa;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }

  #li h2{
      font-size: 20px;
    color: #272727;
    font-weight: 400;
  }

.turma{
      font-size: 20px;
  }

  .nome{
      font-size: 30px;
      font-weight: 400;
  }

  .conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  #terceiro_botao{
      border: none;
    margin-top: 2vh;
     width: 100%;
     background-color: rgba(240, 248, 255, 0);
     color: white;
     background-color: #044177;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     border-radius: 30px;
     padding: 15px
  }

  .turma_selecionada{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
      height: 40vh;
      padding: 5%;
      background-color: #F4F4F4;
      border-radius: 20px;
      margin-left: 10%;
      justify-content: space-between;
  }

  .titulo{
      color: #044177;
      font-size: 50px;
    font-weight: 700;
    margin: 1%;
  }

 .turma_selecionada p{
    font-size: 30px;
    margin-top: 5%;
    font-weight: 400;
}

  