body{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: black;
}
 @keyframes div1 {
    0% {
       transform: translateX(-100px);
    }
 
    100% {
       transform: translateX(0);
    }
 }
 
 @keyframes div2 {
    0% {
       transform: translateX(100px);
    }
 
    100% {
       transform: translateX(0);
    }
 }

 @keyframes mvv { 
    0% {
        opacity: 0;
        transform: translateY(80%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
 }

.div1{
    animation: div1 3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #272727;
    padding: 1% 3% 2% 3%;
}


.div1maior{
    background-color: #ECF0F5;
}

.div1 h1{
    font-size: 87px;
    font-weight: 700;
}
.div1 img{
    width: 35rem;
 }

.textDiv1{
    width: 70%;
}
.div1 h2{
    font-size: 50px;
    font-weight: 100;
}

.div2{
    animation: div2 3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #272727;
    padding: 2% 3% 1% 3%;
}

.div2 img{
   width: 30rem;
}

.div2 h1{
    font-size: 70px;
    font-weight: 700;
}

.textDiv2{
    width: 70%;
}

.div2 h2{
    font-size: 25px;
    font-weight: 100;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #044177;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 1% 3% 1% 3%;
}

.footer img{
    width: 100px;
    margin-bottom: 5%;
}

.footer h1{
    font-size: 25px;
    font-weight: 500;
}

.footer p{
    font-size: 20px;
    font-weight: 100;
}

.missao{
    animation: mvv 2s;
    width: 20%;
}

.visao{
    animation: mvv 2.5s;
    width: 20%;
}

.valores{
    animation: mvv 3s;
    width: 20%;
}