header {
    background: #000;
}

main {
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titulo_infos_pagamento {
    display: flex;
    justify-content: left;
}

main h4 {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: normal;
}

.infos_pagamento {
    width: 96vw;
    height: 120px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.infos_pagamento .primeira_linha {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #C2C2C2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.infos_pagamento .primeira_linha .container_pagamento {
    display: flex;
    gap: 15px;
}

.infos_pagamento .primeira_linha .container_pagamento select {
    border-radius: 5px;
}

.infos_pagamento .primeira_linha .preco_pedido {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.infos_pagamento .primeira_linha .preco_pedido img {
    width: 17px;
    cursor: pointer;
}

.infos_pagamento .segunda_linha {
    display: flex;
    justify-content: right;
    padding: 10px;
    align-items: center;
    border: 1px solid #C2C2C2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.infos_pagamento .segunda_linha .infos {
    margin-right: 37px;
    display: flex;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96vw;
    background-color: #F5F6FC;
    margin-left: 20px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
}

form input {
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #C2C2C2;
}

form label {
    font-weight: bold;
}

.input_dados_instituicao.erro input, .input_cartao_instituicao.erro input {
    border: 2px solid #DB5A5A;
} 

.input_dados_instituicao.sucesso input, .input_cartao_instituicao.sucesso input {
    border: 2px solid #008000;
} 

.input_dados_instituicao p, .input_cartao_instituicao  p {
    visibility: hidden;
    color: #DB5A5A;
    font-size: 13px;
}

.infos_gerais {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infos_instituicao {
    /* background-color: teal; */
    width: 50%;
    padding: 30px;
}

.infos_instituicao, .infos_cartao {
    gap: 20px;
}

.infos_instituicao input {
    width: 20vw
}

form .infos_instituicao .input_instituicao {
    display: flex;
    justify-content: space-between;
}

.infos_cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 30px;
    /* background-color: tomato; */
    border-left: 1px solid #C2C2C2;
}

.infos_cartao input {
    width: 20vw;
}

#inputNumeroCartao, #inputNomeCartao {
    width: 100%;
}

form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.inputs_cartao{
    display: flex;
    gap: 10px;
    width: 100%;
}

.btn_finalizar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    /* background-color: aqua; */
    width: 100%;
    border-top: 1px solid #C2C2C2;
}

form input[type="submit"] {
    width: 450px;
    height: 50px;
    border: 1px solid;
    background: #0987F7;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
  }
  
 form input[type="submit"]:hover {
    transform: scale(1.05);
    transition: .5s;
  }

  @media (max-width: 768px) {

    main {
        align-items: center;
        padding: 0 5px 0 5px;
    }

    form, .infos_pagamento, main h4 {
        margin-left: 0px;
    }

    main, form input {
        font-size: 13px;
    }

    .infos_gerais {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .infos_instituicao, .infos_cartao {
        width: 100%;
    }

    .infos_instituicao input, .infos_cartao input {
        width: 40vw
    }

    .infos_cartao {
        border-left: 0;
        border-top: 1px solid #C2C2C2;
    }

  }