* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    max-width: 85vw;
    list-style: none;
    margin-left: 145px;
    color: #272727;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
}

.grupo h1 {
    margin-left: 2%;
    font-size: 18px;
    font-weight: 300;
}

.grupo p {
    font-size: 20px;
    font-weight: 500;
}

.tema {
    text-align: center;
    margin-bottom: 2%;
}

.descricao {
    margin-bottom: 2%;
}

.grupo input {
    background-color: #e3e3e3;
    border-radius: 10px;
    border-bottom: 1px solid #05204a;
    padding: 15px;
    width: 100%;
    border: 1px solid #ced4da;
}

.terceiro_botao {
    font-size: 15px;
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    background-color: #044177;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 5%;
}

.ul-integrantes {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    max-width: 80vw;
    overflow-y: auto;
}

.li-integrantes {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-integrantes {
    width: fit-content;
    max-width: 100vw;
    height: fit-content;
    border: 2px solid;
    border-color: #05204a;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 2%;
}

.ul-integrantes::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

.ul-integrantes::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.ul-orientadores {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    overflow-y: auto;
}

.li-orientadores {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-orientadores {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border: 2px solid;
    border-color: #05204a;
    border-radius: 10px;
    padding: 1%;
}

.ul-orientadores::-webkit-scrollbar {
    width: 2px;
    /* width of the entire scrollbar */
}

.ul-orientadores::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.documentacao {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.inputfile {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.inputfile+label {
    font-size: 15px;
    width: 30%;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    background-color: #044177;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #e3e3e3;
    color: black;
}


.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #e3e3e3;
    color: black;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}


.barra_progresso {
    margin-top: 2%;
    margin-bottom: 2%;
}

.primeiro_botao:hover, #btnOutroArquivo:hover {
    background-color: #e3e3e3;
    color: black;
}

.barra_progresso label {
    margin-left: 2%;
    font-size: 18px;
    font-weight: 300;
}

.progress_bar {
    background-color: #044177;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 300;
}

.progress {
    height: 80%;
    border-radius: 100px;
}

.documentacao_div {
    display: flex;
    width: 100%;
}

.documentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.documentacao label {
    margin-bottom: 1%;
}

.documentacao label {
    font-size: 18px;
    font-weight: 300;
    width: 100%;
}

.documentacao .arquivo_anexado {
    font-size: 15px;
    font-weight: 300;
    width: 20%;
}

.documentacao .label-title {
    margin-left: 2%;
}

.primeiro_botao {
    font-size: 15px;
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 2%;
}

.acoes-form-grupo{
    display: flex;
    width: 100%;
}

.botoes{
    display: flex;
    flex-direction: row-reverse;
}

.botoes a {

    text-decoration: none;
}

.segundo_botao {
    font-size: 15px;
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    color: black;
    background-color: #e3e3e3;
    margin-left: 1%;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 2%;
}


.primeiro_botao_anexo {
    font-size: 15px;
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 10px;
    font-weight: 300;
    border: none;
    padding: 10px;
    margin-bottom: 2%;
}

.editar_div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}



#p_tema_projeto, #p_descricao_projeto{
    width: 100%;
}

#empty_progress_bar{
    display: none;
}


@media (max-width: 500px) {
    body{
        height: 100vh;
        padding: 2%;
        
    }

    .segundo_botao{
        width: 100%;
    }

    .botoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100% !important;
    }

    .acoes-form-grupo{
        display: flex;
        flex-direction: column;
    }

    .grupo{
        margin-left: 25% !important;
    }
    .cont-integrantes {
        max-width: 70vw !important;
    }

    .cont-orientadores {
        max-width: 70vw !important;
    }

    .primeiro_botao{
        width: 100%;

        margin-left: 1%;
    }
 }

 @media (max-width: 1200px) {
    body{
        height: 100vh;
        padding: 2%;
        
    }

    .grupo{
        margin-left: 15%;
    }
    .cont-integrantes {
        max-width: 80vw ;
    }

    .cont-orientadores {
        max-width: 80vw ;
    }

    .primeiro_botao{
        width: 100%;

        margin-left: 1%;
    }

    .segundo_botao{
        width: 100%;
    }

    .botoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
    }

    .acoes-form-grupo{
        display: flex;
        flex-direction: column;
    }
 }