* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   font-family: "Poppins", sans-serif;
   width: 100vw;
}

.container {
   width: 30%;
   height: 75vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

#imgPerfil {
   object-fit: cover;
   object-position: center center;
}

.formPerfil {
   margin-top: 5%;
}

.alert-vazado {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.info_vazado_nome {
   display: flex;
   margin-left: 5%;
}

.info_preenchido_nome {
   display: none;
   margin-left: 5%;
}

.info_vazado_email {
   display: flex;
   margin-left: 5%;
}

.info_preenchido_email {
   display: none;
   margin-left: 5%;
}

.alert_text_nome {
   display: none;
   flex-direction: column;
   height: 100px;
   width: 50%;
   background-color: #044177;
   color: white;
   padding: 1%;
   text-align: center;
   border-radius: 20px;
   margin-left: 5%;
}

.alert_text_nome h1 {
   font-size: 20px;
}

.alert_text_nome p {
   font-size: 10px;
}

#alert-nome {
   height: 50px;
   width: 100%;
   position: relative;
}

#alert-email {
   height: 50px;
   width: 100%;
   position: relative;
}

.alert_text_email {
   display: none;
   flex-direction: column;
   height: 100px;
   width: 50%;
   background-color: #044177;
   color: white;
   padding: 1%;
   text-align: center;
   border-radius: 20px;
   margin-left: 5%;
}

.alert_text_email h1 {
   font-size: 20px;
}

.alert_text_email p {
   font-size: 10px;
}

#show_password, #show_password1 {
   cursor: pointer;
 }

.botao_editar {
   margin-top: 2vh;
   width: 100%;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   background-color: #044177;
   border-radius: 30px;
   font-weight: 700;
   border: none;
   padding: 15px;
}

.botao_cancelar {
   margin-top: 2vh;
   margin-left: 3%;
   width: 100%;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   background-color: #c2c2c2;
   border-radius: 30px;
   font-weight: 700;
   border: none;
   padding: 15px;
}

.container .buttons {
   display: flex;
   flex-direction: row-reverse;
}

@media (max-width: 830px) {
   .container {
      width: 70%;
   }

   #imgPerfil {
      object-fit: cover;
      object-position: center center;
      height: 150px;
      width: 150px;
   }

   .formPerfil {
      margin-top: 5%;
   }

   .botao_editar {
      width: 100%;
   }
}

.container input {
   background-color: #e3e3e3;
   border-radius: 10px;
   border-bottom: 1px solid #05204a;
   padding: 15px;
}

.container .profile-pic-div {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.container .profile-pic-div .img_aluno {
   display: flex;
   justify-content: center;
}

.container .profile_image {
   width: 200px;
   height: 200px;
   border-radius: 100px;
   margin-bottom: 10px;
}

#fotoPerfilAluno {
   background-position: center;
   background-size: cover;
}

.container .upload_foto {
   display: flex;
   align-items: center;
   font-size: 15px;
   justify-content: center;
}

.container .upload_foto .input_foto {
   display: none;
}

.container .upload_foto .btn_upload_foto {
   background: #044177;
   border: 2px solid #044177;
   border-radius: 4px;
   outline: none;
   padding: 0.5em 0.8em;
   color: #fff;
   font-size: 1em;
   font-weight: bold;
   cursor: pointer;
}

.container .upload_foto .btn_upload_foto:active {
   background: #0987f7;
}

.container button {
   padding: 10px;
   border: 5px solid;
   font-family: "Poppins", sans-serif;
}

::placeholder {
   font-family: "Hind", sans-serif;
}

#primeiro_botao {
   margin-top: 2vh;
   width: 100%;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   background-color: #c2c2c2;
   border-radius: 30px;
   padding: 15px;
}

.container .buttons {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.container a {
   text-decoration: none;
   color: white;
}

.container a:hover {
   text-decoration: none;
   color: white;
}

#segundo_botao {
   margin-top: 2vh;
   width: 100%;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   background-color: #044177;
   border-radius: 30px;
   padding: 15px;
   border: #05204a;
}

#space {
   width: 90%;
   margin-left: 0 20% 0 10%;
   padding: 50px;
}

#icon input {
   padding-right: 50px;
}

#icon {
   position: relative;
}

#icon i {
   position: absolute;
   right: 1vw;
   top: 45%;
   padding: 9px 8px;
   color: #808080;
   transition: 0.3s;
}

#icon.inputIconBg i {
   background-color: #aaa;
   padding: 9px 4px;
   border-radius: 4px 0 0 4px;
}