* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container h1 {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #05204a;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    height: 75vh;
}

.container input {
    background-color: #e3e3e3;
    border-radius: 10px;
    border-bottom: 1px solid #05204a;
    padding: 15px;
}

.container button {
    padding: 10px;
    border: 5px solid;
    font-family: "Poppins", sans-serif;
}

.container ::placeholder {
    font-family: "Hind", sans-serif;
}

.container #primeiro_botao {
    margin-top: 2vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #c2c2c2;
    border-radius: 30px;
    padding: 15px;
    font-weight: 700;
}

.container .buttons {
    display: flex;
    flex-direction: row-reverse;
}

.container a {
    text-decoration: none;
    color: white;
}

.container a:hover {
    text-decoration: none;
    color: white;
}

.container #segundo_botao {
    margin-top: 2vh;
    width: 100%;
    font-weight: 700;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 30px;
    padding: 15px;
    border: #05204a;
}

.container #icon input {
    padding-right: 50px;
}

.container #icon {
    position: relative;
}

.container #icon i {
    position: absolute;
    right: 1vw;
    top: 45%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
}

.container #icon.inputIconBg i {
    background-color: #aaa;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}