* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-geral {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    height: 100vh;
}

.cursos_existentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #044177;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 3%;
}

.cursos_existentes input {
    background-color: #E3E3E3;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
}

.curso-select {
    background-color: #E3E3E3;
    border-radius: 10px;
    border-bottom: 1px solid #05204A;
    padding: 15px
}

.lab-inp input {
    background-color: #E3E3E3;
    border-radius: 10px;
    border-bottom: 1px solid #05204A;
    padding: 15px
}

.lab-inp label {
    font-weight: 400;
}

ul::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

ul::-webkit-scrollbar-thumb {
    background-color: #05204A;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.container-selecionando {
    width: 100%;
    height: 70%;
    margin: 0 1% 0 0;
}

.container-selecionado {
    width: 100%;
    height: 70%;
}

.modal {
    margin-top: auto;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: 2%;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.participantes {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.membro-container p {
    font-size: 23px;
}

.ul-1 {
    background-color: #E3E3E3;
    width: 95%;
    border-radius: 20px;
}

.ul-2 {
    background-color: #E3E3E3;
    width: 95%;
    border-radius: 20px;
}

.modal .lab-inp-participantes input {
    background-color: #C2C2C2;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    position: absolute;
}

.selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.li-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal h1 {
    font-size: 70px;
    font-weight: 700;
    color: #05204A;
}

.professores {
    margin: 0 1% 0 0;
    text-align: center;
    height: 20vh;
}

.professores h1 {
    font-size: 40px;
    font-weight: 700;
    color: #05204A;
}

.alunos {
    margin: 0 0 0 0;
    text-align: center;
    height: 20vh;
}

.alunos h1 {
    font-size: 40px;
    font-weight: 700;
    color: #05204A;
}

.bg {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.658);
}

img {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}

ul {
    width: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
}

.ul-turma {
    margin: 1% 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 100px;
    padding: 2%;
    overflow-y: auto;
}

.ul-professor {
    margin: 1% 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
}

.ul-membro {
    margin: 1% 0;
    height: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
}

.container-selecionando h1 {
    margin-top: 2%;
    font-size: 30px;
    font-weight: 500;
}

.container-selecionado h1 {
    margin-top: 2%;
    font-size: 30px;
    font-weight: 500;
}

.container-cadastro-membro {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    text-align: center;
}

.container-cadastro-membro .buttons {
    display: flex;
    flex-direction: row;
}

.ul-aluno {
    margin: 1% 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
}
.ul-grupo {
    margin: 1% 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
}

#book {
    width: 5.5vw;
}

.li {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.li-membro {
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.turma {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.novo_curso h1 {
    font-weight: 700;
}

.icon {
    position: relative;
}

.icon i {
    position: absolute;
    right: 6%;
    top: 65%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
}

.icon.inputIconBg i {
    background-color: #aaa;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.icon-membro {
    position: relative;
}

.icon-membro i {
    position: absolute;
    right: 1vw;
    top: 10%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
}

.li h2 {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.lab-inp {
    margin-top: 1%;
    margin-bottom: 1%;
}

.lab-inp-modal {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.lab-inp-modal input {
    background-color: #E3E3E3;
    border-radius: 10px;
    border-bottom: 1px solid #05204A;
    padding: 15px;
    width: 100%;
}

.lab-inp-modal label {
    font-weight: 400;
}

.curso {
    font-size: 20px;
}

.nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
}

.nome img{
    width: 25px;
    margin-left: 0.5vw;
    margin-top: -1.5vh;
}

.primeiro_botao {
    margin-top: 2vh;
    width: 98%;
    color: white;
    background-color: #0664B7;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}

.segundo_botao {
    margin-top: 2vh;
    width: 98%;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    padding: 15px;
    background-color: #C2C2C2;
    margin-right: 5%;
}

.terceiro_botao {
    margin-top: 2vh;
    width: 98%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}

.quarto_botao {
    margin-top: 2vh;
    width: 98%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #A71E34;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}

.membro-container {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.modal-excluir {
    width: 40%;
    height: 30vh;
    display: none;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

.modal-excluir-membro {
    width: 40%;
    height: 30vh;
    display: none;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

.modal-excluir h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #05204A;
}

.modal-excluir h2 {
    margin: 2% 0 2% 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #A71E34;
}

.modal-excluir label {
    font-size: 30px;
    font-weight: 400;
    color: #05204A;
}

.modal-excluir input {
    width: 100%;
}

.modal-excluir-membro h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #05204A;
}

.modal-excluir-membro h2 {
    margin: 2% 0 2% 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #A71E34;
}

.modal-excluir-membro label {
    font-size: 30px;
    font-weight: 400;
    color: #05204A;
}

.modal-excluir-membro input {
    width: 100%;
}

.formExcluir {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

.modal-curso h1 {
    font-size: 50px;
}

.button5 {
    color: white;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 3%;
    margin-bottom: -35%;
    background-color: #044177;
}

.buttons-modal {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 700px) {
    .modal {
        width: 100%;
        height: 50vh;
        padding: 2%;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-weight: 100;
    }
    
    .container-geral {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .book {
        display: none;
    }
    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        height: 80vh;
        width: 90%;
        padding: 2%;
    }
    body {
        height: 100vh;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .lab-inp input{
        font-size: 15px;
        height: 40px;
    }
    .ul {
        margin-top: 1%;
        height: 100%;
    }
    .li {
        display: flex;
        flex-direction: column;
    }
    .turma {
        font-size: clamp(0rem, 10vw, 1.5rem);
        margin-right: 5%;
    }
    .nome {
        font-size: clamp(0rem, 10vw, 1.5rem);
    }
    .icon label {
        font-size: clamp(0rem, 10vw, 1.5rem);
        margin-right: 5%;
    }
    .modal h1 {
        font-size: clamp(0rem, 10vw, 1.5rem);
    }
    .modal {
        text-align: justify;
    }
    .turma {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icone {
        display: flex;
        flex-direction: row;
    }
    .livro {
        display: none;
    }
    .icon {
        position: relative;
    }
    .icon i {
        position: absolute;
        right: 7%;
        top: 50%;
        padding: 9px 8px;
        color: #808080;
        transition: 0.3s;
    }
    .icon.inputIconBg i {
        background-color: #aaa;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
    }
    .button5 {
        width: 90%;
        background-color: rgba(240, 248, 255, 0);
        color: white;
        background-color: #044177;
        border-radius: 20px;
        font-weight: 700;
        border: none;
        padding: 15px;
        margin-bottom: 2%;
    }
    button {
        font-size: clamp(0rem, 10vw, 0.8rem);
    }
    .modal .buttons {
        display: flex;
        flex-direction: column-reverse;
    }
    .membro-container {
        display: flex;
        flex-direction: column;
    }
    .ul-professor {
        margin: 1% 0;
        width: 100%;
        height: 70%;
        border: 2px solid;
        border-color: #05204A;
        border-radius: 10px;
        padding: 2%;
        overflow-y: auto;
    }
    .ul-professor li {
        display: flex;
        flex-direction: row;
    }
    .ul-aluno .li {
        display: flex;
        flex-direction: row;
    }

    .iconify {
        height: 50px;
    }
    .ul-aluno {
        margin: 1% 0;
        width: 100%;
        height: 70%;
        border: 2px solid;
        border-color: #05204A;
        border-radius: 10px;
        padding: 2%;
        overflow-y: auto;
    }

}