* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-geral {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    height: 100vh;
}

.list-group-item img {
    cursor: pointer;
}

.curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.curso .curso {
    font-size: 16px;
}

.cursos_existentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #044177;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 3%;
}

.cursos_existentes input {
    background-color: #E3E3E3;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
}


ul::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

ul::-webkit-scrollbar-thumb {
    background-color: #05204A;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
}

.container-geral img {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.container-geral ul {
    width: 100%;
    border: 2px solid;
    border-color: #05204A;
    border-radius: 10px;
    padding: 2%;
    overflow-y: auto;
    height: 75%;
}

.container-geral .li {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#btnEntrarCurso {
    text-decoration: none;
    list-style: none;
}

.icon {
    position: relative;
}

.icon i {
    position: absolute;
    right: 6%;
    top: 10%;
    padding: 9px 8px;
    color: #808080;
    transition: 0.3s;
}

.lab-inp-modal label {
    font-weight: 400;
}

.nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
}

.terceiro_botao {
    margin-top: 2vh;
    width: 98%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    background-color: #044177;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    padding: 15px;
}


@media (max-width: 1550px) {

    .container-geral {
        margin-left: 8vw;
    }
} 

@media (max-width: 1050px) {

    .container-geral {
        margin-left: 10vw;
    }
}
 
@media (max-width: 818px) {

    .book {
        display: none;
    }

    .curso {
        font-size: clamp(0rem, 10vw, 1.5rem);
        margin-right: 5%;
    }

    .nome {
        font-size: clamp(0rem, 10vw, 1.5rem);
    }

    .curso {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-geral button {
        width: 200px;
        height: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

}

@media (max-width: 678px) {

    .container-geral {
        margin-left: 17vw;
        width: 80vw;
        margin-top: 8%;
    }

    .nome {
        font-size: 18px;
    }

    .terceiro_botao {
        font-size: 13px;
        margin-top: 0vh;
        width: 10px;
    }

    #btnEntrarCurso {
        width: 135px;
    }

    .curso .curso {
        font-size: 13px;
    }

    .cursos_existentes input {
        font-size: 14px;
    }

}

@media (max-width: 500px) {

    .container-geral {
        margin-left: 20vw;
    }
}