* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.side_menu {
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    background-color: #044177;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 100vh;
    position: fixed;
}

.side_menu p {
    font-size: 16px;
    font-weight: bold;
}

.side_menu a{
    text-decoration: none;
    color: #fff;
}

#logo {
    width: 175px;
    align-self: center;
    margin-top: 75px;
}

.side_menu .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.side_menu .item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px;
    margin-left: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side_menu .item_ativo {
    color: #044177;
    background: #fff;
}

.side_menu .item img.ativo {
    color: #044177;
}

.side_menu .links .item:hover {
    border: 2px solid #fff;
    transition: 0.3s;
}

.side_menu .item:last-child {
    margin-bottom: 50px;
}

#iconeSair {
    cursor: pointer;
}

@media (max-height: 800px) {

    #logo {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .side_menu .item {
        gap: 20px;
    }

    .side_menu .links {
        gap: 5px;
    }

}

@media (max-width: 1024px) {

    #logo {
        width: 130px;
    }

    .side_menu p {
        font-size: 13px;
    }
}

@media (max-width: 768px) {

    #logo {
        width: 60px;
    }

    /* .side_menu {
        width: 25vw;
    } */

    .side_menu p {
        display: none;
    }

    .side_menu .item {
        margin-left: 0px;
        justify-content: center;
        width: 100%;
    }

    .side_menu .item:last-child {
        margin-bottom: 20px;
    }
}