* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.side_menu {
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    background-color: #044177;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 100%;
    position: fixed;
}

.side_menu p {
    font-size: 16px;
    font-weight: bold;
}

.side_menu a{
    text-decoration: none;
    color: #fff;
}

#logo {
    width: 200px;
    align-self: center;
    margin-top: 75px;
}

.side_menu .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.side_menu .item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-left: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side_menu .item_ativo {
    color: #044177;
    background: #fff;
}

.side_menu .item img.ativo {
    color: #044177;
}

.side_menu .links .item:hover {
    border: 2px solid #fff;
    transition: 0.5s;
}

.side_menu .item:last-child {
    margin-bottom: 50px;
}

#iconeSair {
    cursor: pointer;
}

@media (min-width: 1600px) {

    .side_menu {
        width: 370px;
    }
}

@media (max-width: 1559px) {

    
}